<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Weather Forecast</title>
</head>

<body>
  {{> header}}
  <h3>Address</h3>
  <p>{{Address}}</p>
  <h3>Forecast</h3>
  <p>{{Forecast}}</p>
  {{> footer}}
</body>

</html>