<p>
  <h4>API Examples</h4>
  <div>
    <a href="/getWeather">getWeather</a>
    <div>get weather data as json by your IP</div>
    <br>
  </div>

  <div>
    <a href="/getWeather?address=Natan 12 Ramat-Gan Israel">getWeather - address example</a>
    <div>get weather data as json by address</div>
    <br>
  </div>

  <div>
    <a href="/getWeatherWidget">getWeatherWidget</a>
    <div>get weather data as html by your IP</div>
    <br>
  </div>

  <div>
    <a href="/getWeatherWidget?address=Natan 12 Ramat-Gan Israel">getWeatherWidget - address example</a>
    <div>get weather data as html by address</div>
    <br>
  </div>

</p>